.wrapper {
	display: flex;
	gap: 5rem;
}

.form {
	flex: 0.5;
}

.list {
	flex: 1;
	.block {
		min-height: 50px;
		position: relative;
		margin-bottom: 0.75rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 0.25rem;
		padding: 0.5rem;
		font-size: 1rem;

		&:active,
		&:hover {
			.grip {
				opacity: 1;
			}
		}
	}
}

.grip {
	margin-left: -0.25rem;
	margin-right: 0.12rem;
	opacity: 0.25;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 266ms;

	&:hover,
	&:active {
		.grip {
			opacity: 1;
		}
	}
}

.content {
	display: flex;
	width: 100%;
	background: #0e0f0f;
	border-radius: 4px;
	padding: 5px 10px;

	&_text {
		flex: 1;
		margin-right: 10px;
	}
}

.actions {
	display: flex;
	gap: 8px;
	button {
		opacity: 0.5;
		transition: 0.2s linear opacity;

		&:hover {
			opacity: 1;
		}
	}

	&_edit {
	}
	&_delete {
	}
}
